/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: 'Dosis', sans-serif;
  border-top: 8px solid #ff530d;
}

#page {
  max-width: 100%;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
#header {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.not-front #header {
  background: #eee;
  overflow: hidden;

}

#logo { /* Wrapping link for logo */
 padding: 0;
  width: 198px;
  margin: 76px auto 60px;
  display: block;
}
#logo img {
  vertical-align: bottom;
}

#name-and-slogan { /* Wrapper for website name and slogan */
  float: left;
}

#site-name { /* The name of the website */
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan { /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

.region-header { /* Wrapper for any blocks placed in the header region */
  clear: both; /* Clear the logo */
  position: absolute;
  top: -4px;
  right: 0;
}

/*
 * Main (container for everything else)
 */

 h1 {
  color: #5e5552;
  font-size: 30px;
 }

#main {
}

#navigation {
  display: none;
}
/*
 * Content
 */

#content {
  padding: 0;
}

.region-highlighted {
}

.breadcrumb { /* The path to the current page in the form of a list of links */
  display: none;
}
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1.title, /* The title of the page */
h2.node-title, /* Title of a piece of content when it is given in a list of content */
h2.block-title, /* Block title */
h2.title, /* Comment section heading */
h2.comment-form, /* Comment form heading */
h3.title { /* Comment title */
  margin: 0;
}

tr.even { /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

tr.odd {
  /* background-color: #eee; */ /* Drupal core uses a #eee background */
}

div.messages { /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0; /* Drupal core uses "6px 0" margin */
}
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

div.status { /* Normal priority messages */
}

div.warning,
tr.warning { /* Medium priority messages */
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error { /* High priority messages. See also the .error declaration below. */
}

.error { /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */ /* Drupal core uses a #e55 background */
  display: none;
}

.warning { /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

.tabs { /* See also the tabs.css file. */
}

.region-help { /* Help text on a page */
}

.more-help-link { /* Link to more help */
}

.region-content { /* Wrapper for the actual page content */
}

ul.inline { /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0; /* LTR */
}

span.field-label { /* The inline field label used by the Fences module */
  padding: 0 1em 0 0; /* LTR */
}

.item-list .pager { /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
.item-list .pager li { /* Each page number in the pager list */
  padding: 0 0.5em;
}

.feed-icon { /* The link to the RSS or Atom feed for the current list of content */
}

.more-link { /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */

.region-sidebar-first {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */

.region-sidebar-second {
}

/*
 * Footer
 */

#footer {
}

/*
 * Page bottom
 */

.region-bottom { /* Wrapper for any blocks placed in the page bottom region */
}

.storyline {
  background: #5e5552;
  color: #fff;
  font-size: 30px;
  line-height: normal;
}

.storyline .pane-content {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.infoblock {
  background: #fff;
  padding: 60px 0;
}

.infoblock .panels-flexible-row-inside {
  width: 1000px;  
  margin: 0 auto;
}

.infoblock .panels-flexible-region-first {
  float: left;
  width: 480px;
}

.infoblock .panels-flexible-region-last {
  float: right;
  width: 380px;
  background: url(../images/latest-bg.png) no-repeat bottom;
  padding-bottom: 10px;
}

.info {
  text-align: center;
}

.info .views-field-title .field-content {
  width: 194px;
  line-height: 194px;
  text-align: center;
  background: #ff530d;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
  font-size: 100px;
}

.info .view-footer p {
  color: #ff530d;
  font-size: 18px;
  text-transform: uppercase;
}

.lateststories {
  position: relative;
}

.lateststories h2 {
  margin-top: 0;
  background: #f0e9e7;
  border-top: 2px solid #ff530d;
  line-height: 48px;
  font-size: 20px;
  color: #898989;
  text-transform: uppercase;
  padding: 0 18px;
}

.more-link a {
  color: #ff530d;
  text-decoration: none;
  font-size: 15px;
}

.lateststories .more-link a {
  position: absolute;
  right: 18px;
  top: 13px;
}

.lateststories .view-stories .views-row .views-field-title .field-content {
   background: url(../images/dot.png) no-repeat 0 8px;
   display: block;
}

.lateststories .view-stories .views-row .views-field-title .field-content a {
  text-decoration: none;
  color: #5e5552;
  font-size: 14px;
  text-transform: uppercase; 
  display: block;
  padding-left: 20px;
}

.lateststories .view-stories .views-row {
  border-bottom: 1px dashed #d7d7d7;
  padding: 10px 0;
}

.lateststories .view-stories .views-row-first {
  padding-top: 0;
}

.lateststories .view-stories .views-row-last {
  border-bottom: 0;
}


.node-type-stories #main {
  background: #fff;
}

.node-type-stories #content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 80px;
}

article.node-stories .field-name-field-police-station,
article.node-stories .field-name-field-police-station-date,
article.node-stories .field-name-field-lawer-office,
article.node-stories .field-name-field-lawer-office-date,
article.node-stories .field-name-field-court,
article.node-stories .field-name-field-court-date,
article.node-stories .field-name-field-incident-date,
article.node-stories .field-name-field-country,
article.node-stories .field-name-field-address {
  float: left;
  margin-right: 80px;
  margin-bottom: 10px;
  width: 240px;
}

a.view-all-stories-link {
  background: url(../images/view-story.png) no-repeat 0 0;
  text-align: center;
  display: block;
  width: 386px;
  height: 65px;
  text-indent: -9999px;
  margin: 0 auto 60px;
}

a.view-all-stories-link:hover {
   background: url(../images/view-story-hover.png) no-repeat 0 0;
}

.login-register-block {
  background: #ff530d;
  padding: 8px 64px 8px 64px;
  float: left;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
}

.login-register-block p {
  margin: 0;
}

.login-register-block a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}